// Цвета

$color-main: #fff;
$color-black: #000;
$color-black-services-card-bg: #1a1a1a;
$color-black-contacts-form-bg: rgba(0, 0, 0, 0.5);
$color-black-modal-bg: rgba(0, 0, 0, 0.5);
// $color-black-services-card-bg-hover: #4d4d4d;
$color-orange-primary: #f37021;
$color-orange-secondary: #b08133;
$color-gray: #595959;
$color-gray-services-bg: #ebebeb;
$color-gray-line-safety-risk: #333;
$color-gray-circle-safety-risk: #787878;
$color-gray-year: #b3b3b3;
$color-gray-arrow-sub-safety: #6E838E;
$color-gray-safety-description-hidden: #999;
$color-about-gray-bg: #2f3d46;
$color-blue: #156e9e;
$color-red-error: #dc2626;






// Шрифт

$font-primary: Futura;