// Цвета

$color-main: #fff;
$color-black: #000;
$color-orange-primary: #f37021;
$color-orange-secondary: #b08133;
$color-gray: #595959;
$color-gray-year: #b3b3b3;
$color-about-gray-bg: #2f3d46;
$color-blue: #156e9e;






// Шрифт

$font-primary: Futura;