@use '../abstracts/variables' as variable;

.contacts-body {
  position: relative;
  // height: 100vh;
  // z-index: -1;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background: url('/src/assets/images/contacts/contacts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  
}

.contacts-wrapper {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts {
  /* position: relative;
  height: 100vh;
  height: 100dvh; */

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    /* display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1; */
  }
}