@use '../abstracts/variables' as variable;

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 30px 0 45px;
  
  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_contacts {
    position: static;
    padding: 25px 0;
    border-top: 3px solid variable.$color-orange-primary;
    background: rgba(0, 0, 0, 0.7);

    .footer__contacts {
      display: flex;
    }

    .footer__address {
      display: flex;
    }

    .footer__time {
      display: none;
    }
  }

  &.footer_black {
    color: variable.$color-black;
    position: static;
    // margin: 0 0 80px;
    padding: 0 0 80px;
  }

  &.footer_sectors {
    // color: variable.$color-black;
    position: static;
    margin: 0 0 65px;
    padding: 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 0 20px;
  }

  &__social-link {
    font-size: 0;
  }

  &__contacts {
    display: none;
    align-items: center;
    gap: 0 20px;

  }

  &__contacts-links {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }

  &__contacts-link {
    text-decoration: none;
    color: inherit;
  }

  &__mail {
    letter-spacing: 0.03em;
  }

  &__address {
    display: none;
    align-items: center;
    gap: 0 10px;
  }

  &__address-text {
    // max-width: 310px;
    margin: 0;
  }

  &__time {
    font-size: 20px;
  }
}