
.header {
  padding: 60px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__grid {
    display: grid;
    grid-template-columns: minmax(170px, 380px) minmax(785px, 1fr) minmax(330px, 380px);
    align-items: center;
  }

  &__logo-link {
    font-size: 0;
    line-height: 0;
  }

  &__time {
    display: none;
    // font-size: 20px;
  }
}
