
.header {
  padding: 60px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &_contacts {
    position: static;
    margin: 0 0 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: minmax(170px, 380px) minmax(785px, 1fr) minmax(330px, 380px);
    align-items: center;
  }

  &__logo-link {
    font-size: 0;
    line-height: 0;
    max-width: max-content;
  }

}
