@use '../abstracts/variables' as variable;

.header-black {
  color: variable.$color-black;
  padding: 60px 0 0;
  margin: 0 0 50px;

  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}